<div class="table-wrapper" [class.loading]="loading">
  <div *ngIf="loading" class="loading-overlay">
    <div class="loading-spinner-large"></div>
  </div>
  <table class="data-table" [class.loading-table]="loading">
    <thead>
      <tr>
        <th>Name</th>
        <th>Strategies</th>
        <th>Geographies</th>
        <th>Managers</th>
        <th>Fund Size</th>
        <th>Vintage</th>
        <th>Description</th>
        <th class="actions-header">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fund of funds">
        <td class="name-cell">
          <a [routerLink]="getFundLink(fund.name)" class="fund-name-link">
            {{ fund.name }}
          </a>
        </td>
        <td class="list-cell">
          <app-tag
            *ngFor="let strategy of fund.strategies"
            [text]="strategy"
            type="strategy"
            size="small"
          ></app-tag>
        </td>
        <td class="list-cell">
          <app-tag
            *ngFor="let geo of fund.geographies"
            [text]="geo"
            type="geography"
            size="small"
          ></app-tag>
        </td>
        <td class="list-cell">
          <app-tag
            *ngFor="let manager of fund.managers"
            [text]="manager"
            type="manager"
            size="small"
          ></app-tag>
        </td>
        <td class="currency-size-cell">
          {{ fund.currency }} {{ fund.fundSize | number : "1.2-2" }}
        </td>
        <td class="number-cell">{{ fund.vintage }}</td>
        <td class="description-cell">{{ fund.description }}</td>
        <td class="actions-cell">
          <button
            class="btn-icon btn-edit"
            (click)="onEdit(fund.name)"
            title="Edit fund"
            [disabled]="loading"
          >
            <app-icon name="pencil" [size]="16"></app-icon>
          </button>
          <button
            class="btn-icon btn-delete"
            (click)="onDelete(fund.name)"
            title="Delete fund"
            [disabled]="loading"
          >
            <app-icon name="trash" [size]="16"></app-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
